@model HardwareShop.ViewModels.DetaliiComandaViewModel
@{
    ViewBag.Title = "Detalii comanda";
    //Layout = null;
}
<link rel="stylesheet" href="~/Content/DetaliiComanda.css?v=1.5" type="text/css" />
<style>
    .navbar {
        display: none;
        background-color: red;
    }

    main {
        margin-top: 50px;
        margin-bottom: 100px;
        height: 520px;
        background-image:none;
    }
    body {
        background-color: #061a2c;
        color: #f5f5f5;
    }
</style>
@Html.Partial("_ProgresComanda", Model)
<h1 class="titluEtapa">@Model.etapa</h1>
@if (Model.etapa == "Facturare")
{
    @Html.Partial("_Facturare", Model.comanda)
}
else if (Model.etapa == "Livrare")
{
    @Html.Partial("_Livrare", Model.comanda)
}
else if (Model.etapa == "Plata")
{
    @Html.Partial("_Plata", Model)
}
else
{
    @Html.Partial("_Finalizare")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}