@model HardwareShop.Models.AdaugaProdusViewModel
@{
    ViewBag.Title = "Adauga produs";
}

<link rel="stylesheet" href="~/Content/AdaugaProdus.css" type="text/css" />
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    @using (Html.BeginForm("Salvare", "Servicii", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.Produs.Nume, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.Nume, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.Nume, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Produs.Pret, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.Pret, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.Pret, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Produs.Oferta, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.Oferta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.Oferta, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("_AdaugaForm", Model)

            <div class="field">
                @Html.LabelFor(m => m.Produs.Stoc, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.Stoc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.Stoc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Produs.Descriere, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.Descriere, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.Descriere, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Produs.ImgLink, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Produs.ImgLink, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Produs.ImgLink, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Produs.CategorieId)
        @Html.HiddenFor(m => m.Produs.IdProdus)
<div class="button">
    @{
        if (Model.Produs.IdProdus == 0)
        {
            <input type="submit" value="Adauga" class=" submit btn btn-outline-dark" />
        }
        else
        {
            <input type="submit" value="Salveaza" class=" submit btn btn-outline-dark" />
        }
    }


</div>

    }
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

