@model List<HardwareShop.Models.PastaCPU>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/IndexCategorie.css" type="text/css" />
<h2 class="titlu">Pasta procesor</h2>
<main>
    @if (User.IsInRole("Furnizor"))
    {
        @Html.ActionLink("Adauga produs", "Adauga", "PastaProcesor", new { @class = "adaugaProdus" });
    }
    @foreach (var pasta in Model)
    {
        var pretIntreg = (int)pasta.Pret;
        var pretDecimal = (int)((pasta.Pret - Math.Floor(pasta.Pret)) * 100);
        <div class="produs">
            <div class="img">
                <img src="~/@pasta.imgLink" />
            </div>
            <div class="text">

                <div class="titlu-favorit">
                    <h1>@Html.ActionLink(pasta.Nume, "Vizualizare", "PastaProcesor", new { id = pasta.Id }, null)</h1>
                    @if (User.IsInRole("Furnizor") == false && User.IsInRole("Admin") == false)
                    {
                        <div class="adaugaFavorit">
                            @if (User.Identity.Name == "")
                            {
                                pasta.produsFavorit = false;
                            }
                            @if (pasta.produsFavorit == false)
                            {
                                <a href="@Url.Action("Adauga", "ListaFavorite", new { id = pasta.Id, categorie = "pastaCPU" }, null)">
                                    <img src="~/Imagini/heart.png" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Sterge", "ListaFavorite", new { id = pasta.Id, categorie = "pastaCPU" }, null)">
                                    <img src="~/Imagini/heartRed.png" />
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="detalii">
                    <ul>
                        <li>Conductivitate termica:@pasta.conductivitateTermica</li>
                        <li>Rezistenta termica:@pasta.rezistentaTermica</li>
                    </ul>
                    <ul>
                        <li>Cantitate:@pasta.cantitate g</li>
                        @if (User.IsInRole("Furnizor"))
                        {
                            <li>Stoc:@pasta.stoc buc</li>
                        }
                    </ul>
                </div>
                <div class="cumpara">
                    <p class="pret">
                        @pretIntreg
                        @if (pretDecimal > 0)
                        {
                            <sup>@pretDecimal</sup>
                        }
                        Lei
                    </p>
                    @if (User.IsInRole("Furnizor"))
                    {
                        <a class="stergeProdus" href="@Url.Action("Sterge","PastaProcesor",new {id = pasta.Id})">Sterge</a>

                    }
                    else
                    {
                        if (pasta.stoc > 0)
                        {
                            <a class="adaugaProdusCos" href="@Url.Action("Adauga","Cos",new {id = pasta.Id,categorie = "pastaCPU",nrBuc = 1})">Adauga in cos</a>
                        }
                        else
                        {
                            <p class="stocEpuizat">Stoc epuizat</p>
                        }
                    }
                </div>
            </div>
        </div>
    }
</main>

