@model HardwareShop.Models.Comanda

<link rel="stylesheet" href="~/Content/AdaugaProdus.css?v=1.1" type="text/css" />
<main>
    @using (Html.BeginForm("DetaliiComanda", "Comanda", new { etapa = "Livrare" }, FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <h2 class="subtitlu">
            <span>1</span>Informatii personale
        </h2>
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.Factura.Nume, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Nume, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Nume, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Prenume, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Prenume, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Prenume, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Email, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.NrTelefon, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.NrTelefon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.NrTelefon, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <h2 class="subtitlu">
            <span>2</span>Adresa de Facturare
        </h2>
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.Factura.Adresa.Oras, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Adresa.Oras, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Adresa.Oras, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Adresa.Localitate, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Adresa.Localitate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Adresa.Localitate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Adresa.Strada, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Adresa.Strada, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Adresa.Strada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Adresa.Numar, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Adresa.Numar, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Adresa.Numar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Factura.Adresa.Bloc, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Factura.Adresa.Bloc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Factura.Adresa.Bloc, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.PretComanda)
        </div>
        <div class="button">
            <input type="submit" value="Continua" class="adaugaProdusCos btn btn-outline-dark" />
        </div>
    }

</main>
<script>
    document.querySelector("form").addEventListener("submit", function () {
        var pretComanda = @Html.Raw(Json.Encode(Model.PretComanda));
        document.querySelector("input[name='pretComanda']").value = JSON.stringify(pretComanda);
});
</script>