@model HardwareShop.Models.Comanda

<link rel="stylesheet" href="~/Content/AdaugaProdus.css" type="text/css" />
<style>
    body {
        background: white;
    }

    main {
        background-color: #6DD6FA;
        margin-top: 50px;
        margin-bottom: 100px;
        height:520px;
    }
</style>
<main>
    @using (Html.BeginForm("DetaliiComanda", "Comanda", new { etapa = "Livrare" }, FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <h2 class="subtitlu">
            <span>1</span>Informatii personale
        </h2>
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.factura.Nume, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Nume, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Nume, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Prenume, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Prenume, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Prenume, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Email, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.NrTelefon, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.NrTelefon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.NrTelefon, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <h2 class="subtitlu">
            <span>2</span>Adresa de facturare
        </h2>
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.factura.Adresa.Oras, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Adresa.Oras, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Adresa.Oras, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Adresa.Localitate, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Adresa.Localitate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Adresa.Localitate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Adresa.Strada, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Adresa.Strada, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Adresa.Strada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Adresa.Numar, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Adresa.Numar, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Adresa.Numar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.factura.Adresa.Bloc, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.factura.Adresa.Bloc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.factura.Adresa.Bloc, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.pretComandaJson)
        </div>
        <div class="button">
            <input type="submit" value="Adauga" class="submit btn btn-outline-dark" />
        </div>
    }

</main>
<script>
    document.querySelector("form").addEventListener("submit", function () {
        var pretComanda = @Html.Raw(Json.Encode(Model.pretComanda));
        document.querySelector("input[name='pretComandaJson']").value = JSON.stringify(pretComanda);
});
</script>