@model HardwareShop.Models.Comanda

<link rel="stylesheet" href="~/Content/AdaugaProdus.css" type="text/css" />
<style>
    body {
        background: white;
    }

    .fields {
        grid-template-columns: auto auto;
        justify-content: space-around;
    }

    main {
        background-color: #6DD6FA;
        width: 60%;
        margin-top: -50px;
        margin-bottom: 100px;
</style>
<main>
    @using (Html.BeginForm("DetaliiComanda", "Comanda", new { ReturnUrl = ViewBag.ReturnUrl, etapa = "Plata" }, FormMethod.Post, new { role = "form" }))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="fields">
        <div class="field">
            @Html.LabelFor(m => m.adresa.Oras, new { @class = "col-form-label" })
            <div class="input">
                @Html.TextBoxFor(m => m.adresa.Oras, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.adresa.Oras, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.adresa.Localitate, new { @class = "col-form-label" })
            <div class="input">
                @Html.TextBoxFor(m => m.adresa.Localitate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.adresa.Localitate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.adresa.Strada, new { @class = "col-form-label" })
            <div class="input">
                @Html.TextBoxFor(m => m.adresa.Strada, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.adresa.Strada, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.adresa.Numar, new { @class = "col-form-label" })
            <div class="input">
                @Html.TextBoxFor(m => m.adresa.Numar, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.adresa.Numar, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.adresa.Bloc, new { @class = "col-form-label" })
            <div class="input">
                @Html.TextBoxFor(m => m.adresa.Bloc, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.adresa.Bloc, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.FacturaJson)

        @Html.HiddenFor(m => m.pretComandaJson)
    </div>
        <div class="button">
            <input type="submit" value="Adauga" class="submit btn btn-outline-dark" />
        </div>
    }
</main>

<script>
    document.querySelector("form").addEventListener("submit", function () {
        var factura = @Html.Raw(Json.Encode(Model.factura));
        document.querySelector("input[name='FacturaJson']").value = JSON.stringify(factura);
    });
</script>
