@model HardwareShop.Models.Comanda

<link rel="stylesheet" href="~/Content/AdaugaProdus.css?v=1.1" type="text/css" />
<style>
    main {
        padding-top: 100px;
    }
</style>
<main>
    @using (Html.BeginForm("DetaliiComanda", "Comanda", new { ReturnUrl = ViewBag.ReturnUrl, etapa = "Plata" }, FormMethod.Post, new { role = "form" }))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="fields">
            <div class="field">
                @Html.LabelFor(m => m.Adresa.Oras, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Adresa.Oras, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Adresa.Oras, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Adresa.Localitate, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Adresa.Localitate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Adresa.Localitate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Adresa.Strada, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Adresa.Strada, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Adresa.Strada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Adresa.Numar, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Adresa.Numar, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Adresa.Numar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Adresa.Bloc, new { @class = "col-form-label" })
                <div class="input">
                    @Html.TextBoxFor(m => m.Adresa.Bloc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Adresa.Bloc, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(m => m.Factura.Nume)
            @Html.HiddenFor(m => m.Factura.Prenume)
            @Html.HiddenFor(m => m.Factura.Email)
            @Html.HiddenFor(m => m.Factura.NrTelefon)
            @Html.HiddenFor(m => m.Factura.Adresa.Oras)
            @Html.HiddenFor(m => m.Factura.Adresa.Localitate)
            @Html.HiddenFor(m => m.Factura.Adresa.Strada)
            @Html.HiddenFor(m => m.Factura.Adresa.Numar)
            @Html.HiddenFor(m => m.Factura.Adresa.Bloc)

            @Html.HiddenFor(m => m.PretComanda)
        </div>
        <div class="button">
            <input type="submit" value="Continua" class="adaugaProdusCos btn btn-outline-dark" />
        </div>
    }
</main>

@*<script>
    document.querySelector("form").addEventListener("submit", function () {
        var factura = @Html.Raw(Json.Encode(Model.Factura));
        document.querySelector("input[name='Factura']").value = JSON.stringify(factura);
    });
</script>*@
