@model List<HardwareShop.Models.ProdusFavorit>
@{
    decimal pretTotal = 0;
}
<link rel="stylesheet" href="~/Content/IndexCategorie.css" type="text/css" />
<style>

    .listaGoala {
        font-size: 15px;
        padding: 10px;
        margin-top: 20px;
        background-color: #07243e;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        transition: opacity 1s;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6vh;
    }
    .listaGoala a{
        text-decoration:none;
        color:blue;
    }
    .butoane {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

        .butoane a {
            width: 80%;
            margin-top: 10px;
        }

    .text p {
        display: inline-block;
    }

    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    img {
        border-radius: 10px;
    }


    .img img {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 40px;
    }

    .produse {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .delete:hover {
        cursor: pointer;
    }

    .stocEpuizat {
        text-align:center;
    }

    .adaugaProdus {
        width: 40%;
    }

    main {
        display: block;
    }

    h1 {
        height: 40px;
        width:auto;
    }

    .detalii {
        display: block;
    }

    .produs {
        width: 17%;
        height:auto;
    }
    .cumpara{
        margin-top:10px;
    }
</style>
@Html.Partial("_AfisareMesaj")
<h1 class="title">Lista favorite</h1>

<main>
    @if (Model.Count == 0)
    {
        <p class="listaGoala">
            <span>
                <img src="~/Imagini/info.png" />Lista ta de produse favorite este goala. Pentru a adauga produse in lista te rugam
                <a href="@Url.Action("Index","Home")">sa te intorci in magazin</a>
            </span>
            <span class="delete" onclick="stergeMesaj()"><img src="~/Imagini/delete.png"></span>
        </p>
    }
    else
    {
        <div class="produse">
            @foreach (var item in Model)
            {
                var produs = item.Produs;
                pretTotal += produs.Pret;
                var pretIntreg = (int)pretTotal;
                var pretDecimal = (int)((pretTotal - Math.Floor(pretTotal)) * 100);

                <div class="produs">
                    <div class="img">
                        <img src="~/@produs.ImgLink" />
                    </div>
                    <div class="text">
                        <h1>@Html.ActionLink(produs.Nume, "Vizualizare", "Servicii", new { id = produs.IdProdus, categorie = produs.Categorie.Nume }, null)</h1>
                        <div class="detalii">
                            <p>Vandut de @produs.Brand.NumeBrand</p>
                        </div>
                        <div class="cumpara">
                            <div class="pret">
                                @if (produs.Oferta != null)
                                {
                                    <p>@((int?)produs.Oferta) <sup><del>@pretIntreg</del></sup>Lei</p>
                                }
                                else
                                {
                                    <p>
                                        @pretIntreg
                                        @if (pretDecimal > 0)
                                        {
                                            <sup>@pretDecimal</sup>
                                        }
                                        Lei
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="butoane">
                            @if (produs.Stoc > 0)
                            {
                                <a class="adaugaProdusCos" href="@Url.Action("Adauga","Cos",new {ProdusId = produs.IdProdus,viewName = "listaFavorite",nrBuc = 1})">Adauga in cos</a>
                            }
                            else
                            {
                                <p class="stocEpuizat">Stoc epuizat</p>
                            }
                            <a class="adaugaProdusCos" href="@Url.Action("Sterge","ListaFavorite",new {ProdusId = produs.IdProdus,viewName = "listaFavorite"})">Sterge</a>
                        </div>
                    </div>
                </div>


            }
        </div>
    }
</main>
<script>
    function stergeMesaj() {
        var mesaj = document.getElementsByClassName("listaGoala");
        mesaj[0].style.opacity = 0;
    }
    var mesaj = @(TempData["Mesaj"] != null ? "true" :"false");
    if (mesaj === true) {
        window.addEventListener('load', function () {
            setTimeout(function () {
                document.getElementById("produsAdaugat").style.opacity = 0;
            }, 1000);
        });
    }
</script>