<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>


        .list {
            z-index: 2;
            color: black;
            background-color: white;
            display: none;
            width: 200px;
            text-align: left;
            position: absolute;
        }

        .salutare {
            padding-left: 15px;
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark " style=" z-index:1;position: fixed; background-color: #061a2c; border-bottom: 1px solid #07243e; width:100%;">
        <div class="container">
            @Html.ActionLink("Hardware shop", "Index", "Home", new { paginaOferte = true }, new { @class = "navbar-brand",@style = "margin-left:20px" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="flex-grow:0;">
                <ul class="navbar-nav float-end  navbar-right">
                    <li>
                        <a onclick="showProduseDropDownList()" class="nav-link" href="#">Produse</a>
                        <ul class="categoriiProduse dropdown-menu">
                            <li>@Html.ActionLink("Carcase", "Index", "Servicii", new { categorie = "Carcase", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Procesoare", "Index", "Servicii", new { categorie = "Procesoare", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Placi video", "Index", "Servicii", new { categorie = "PlaciVideo", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Placi de baza", "Index", "Servicii", new { categorie = "PlaciDeBaza", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Pasta procesor", "Index", "Servicii", new { categorie = "PastaProcesor", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Placute RAM", "Index", "Servicii", new { categorie = "PlacuteRAM", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Surse de alimentare", "Index", "Servicii", new { categorie = "SurseDeAlimentare", index = true }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Unitati de stocare", "Index", "Servicii", new { categorie = "Unitati de stocare", index = true }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated == true)
                    {
                        <li>
                            <a onclick="showContDropDownList()" class="nav-link" href="#">Contul meu</a>
                            <ul class="cont dropdown-menu" style="width:auto">
                                @{
                                    HardwareShop.Models.ApplicationDbContext context = new HardwareShop.Models.ApplicationDbContext();
                                    var userName = User.Identity.Name;
                                    var user = context.Users.Single(u => u.UserName == userName);
                                    var nume = user.Nume + " " + user.Prenume;
                                }
                                @if (User.IsInRole("Client"))
                                {
                                    <li>@Html.ActionLink(nume, "ContClient", "Home", new { nume = User.Identity.Name }, new { @class = "dropdown-item" })</li>
                                }
                                else if (User.IsInRole("Furnizor"))
                                {
                                    <li>@Html.ActionLink(nume, "ContFurnizor", "Home", new { nume = User.Identity.Name }, new { @class = "dropdown-item" })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(nume, "ContAdmin", "Home", new { nume = User.Identity.Name }, new { @class = "dropdown-item" })</li>
                                }

                                <li>@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a onclick="showContDropDownList()" class="nav-link" href="#">Contul meu</a>
                            <ul class="cont dropdown-menu">

                                <li>@Html.ActionLink("Inregistare", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Logare", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Client") || Request.IsAuthenticated == false)
                    {
                        <li>@Html.ActionLink("Favorite", "Index", "ListaFavorite", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cosul meu", "Index", "Cos", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                    else if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Cereri", "ListaCereri", "Cerere", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Statistici", "Index", "Statistici", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cosul meu", "Index", "Cos", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else if (User.IsInRole("Furnizor"))
                    {
                        <li>@Html.ActionLink("Statistici", "Index", "Statistici", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cosul meu", "Index", "Cos", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function showProduseDropDownList() {
            var lista = document.getElementsByClassName("categoriiProduse")[0];

            if (lista.style.display == "block") {
                lista.style.display = "none";

            }
            else {
                lista.style.display = "block";
            }

        }
        function showContDropDownList() {
            var lista = document.getElementsByClassName("cont")[0];

            if (lista.style.display == "block") {
                lista.style.display = "none";

            }
            else {
                lista.style.display = "block";
            }

        }
    </script>
</body>

</html>
<style>
    .categoriiProduse {
        width: 100px;
        height: auto;
    }
    .body-content{
        padding-top:8vh;
    }
</style>
